JOBLINGE_DB_NAME=joblinge
JOBLINGE_DB_USERNAME=postgres
JOBLINGE_DB_PASSWORD=postgres
SECRET_KEY_BASE=7c46f22771254e6019ca0d955965d4c7b0680a6ce105c114f3dd8e3e098b36335d785143861ff93a4acf97cf0a04c9354c4ba9067bc53de500ec508f12124516

JOBLINGE_HOST=37.139.15.66
JOBLINGE_EMAIL_ADDRESS=localhost
JOBLINGE_EMAIL_PORT=1025
JOBLINGE_EMAIL_AUTHENTICATION=
JOBLINGE_EMAIL_DOMAIN=
JOBLINGE_EMAIL_USER=
JOBLINGE_EMAIL_PASSWORD=
JOBLINGE_USE_MAILCATCHER=
JOBLINGE_EMAIL_DEFAULT_FROM=
