<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, <%= @user.full_name %></h1>
    <p>
      You have requested to reset your password.
    </p>
    <p>
      To choose a new password, just follow this link: <%= @url %>
    </p>
    <p>Enjoy playing the game!</p>
  </body>
</html>
