@media(min-width: 769px){
  .navbar-default .navbar-nav > li {
    > a {
      margin-top: -1px;
      border-bottom: 3px solid transparent;
      position: relative;
      top: 1px;
      &:hover, &:active{
        border-bottom-color: #86CC94;
      }
    }
    &.active > a{
      border-bottom-color: #86CC94;
    }
  }
}
